*   {
    box-sizing: border-box;

}

body   {
    direction: rtl;
    font-family: Arial;
    padding-bottom: 38px;
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    line-height: 1;
}

header  {
    width: 100%;
    height: 105px;
    position: relative;
    background-image: url("img/header_bg.png");
}

header .header-content {
    width: 900px;
    height: 105px;
    margin: auto;
    text-align: left;
}

header div.search-box  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#search-lang {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

#search-box-input   {
    margin: 0;
    padding:0;
}
#search-button  {
    margin: 0;
    padding: 0;
}



nav.main-menu {
    display: flex;
    direction: row; /*default*/
}

nav.main-menu > ul.main-menu-list {
    display: flex;
    justify-content: space-evenly;
    width: 800px;

}
nav.main-menu > ul.main-menu-list > li  {
    list-style-type: none;
    display: block;
}

#home-icon  {
    width: 7px;
}



footer  {
    width: 100%;
    height: 38px;
    position: fixed;
    bottom: 0;
    background-image: url("img/footer_bg.png");
}

h1 {
   color: greenyellow; 
}