* {
    box-sizing: border-box;
}
body   {
    direction: rtl;
    font-family: Arial;
    padding-bottom: 38px;
    padding-top: 105px;
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    line-height: 1;
    position: relative;
}
/*------------- header-------------- */
header  {
    width: 100%;
    height: 105px;
    margin: auto;
    background-image: url("img/header_bg.png");
    position: absolute;
    top: 0;
    z-index: 100;
}

.header-content {
    max-width: 900px;
    height: 105px;
    margin: auto;
}
/* --------------search box--------------- */
ul.search-box-items  {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

ul.search-box-items > li {
    display: inline;
    list-style-type: none;
    padding: 0 0.05em;
}

#search-lang {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
#search-box-input   {
    height: 100%;
    margin: 0;
    border-top-right-radius: 5px;
    padding: 0;
    border: transparent;
    background-image: url("img/search_input.png");
}

#search-button  {
    margin-top: 0;
    padding: 0;
    height: 100%;
}

#logo-icon  {
    position: absolute;
    display: inline;
    align-content: right;
}

/* ---------------navigation menu--------------  */
nav.main-menu {
    padding-top: 2.4em;
    width: 100%;
    height: auto;
}
nav .flex-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    margin: 0;
    padding-right: 9em; 
}
nav .flex-menu li a, .dropdown-content > a {
    list-style-type: none;
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.2em;
    width: max-content;
    
}
nav .flex-menu li a:hover, .dropdown-content > a:hover, .dropdown:hover {
    color: #005CA0;
    text-decoration: underline;
}
nav ul > li.active > a {
    color: black;
    text-decoration: underline;
}
.dropdown {
    position: relative;
}
    
.dropdown-content {
display: none;
position: absolute;
top: 100%;
right: 0;
width: fit-content;
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
background-image: linear-gradient(#A8A8A8, #9B9B9B, #909090);

}

.dropdown:hover > .dropdown-content {
display: initial;
}
    

/* ----------- main content ---------- */

.main-content   {
    width: 900px;
    margin: auto;
    top: 105px;
    padding-top:30px;
    z-index: 10;
}

/* ----------- tab boxes  ---------- */

.main-content > .flex-container-tab {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    
}

.main-content > .flex-container-tab > section {
    position: relative;
    width: 32%;
    height: 355px;
    border-bottom-right-radius: 5%;
}


.main-content .section-content-right   {
    background-image: url("img/right-tab.JPG");  

}
.main-content .section-content-mid    {
    background-image: url("img/mid-tab.jpg");  

}
.main-content .section-content-left    {
    background-image: url("img/left-tab.jpg");  

}

.main-content .section-content  {
    font-size: 0.8em;
    color: white;
    width: 248px;
    height: 97px;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0.5em;
    right: 0.4em;
    background-color: gray;
    border-bottom-right-radius: 5%;
    padding: 10px;
    opacity: 0.9;
}
.main-content .section-content h3 {
    margin: 0;
}

.main-content .section-content p {
    margin: 0;
}

.main-content .section-content a {
    text-decoration: none;
    color: white;
    text-align: left;  
}

.main-content .section-content a:hover  {
    text-decoration: underline;
    color: #005CA0;
}

/* ----------- banner boxes  ---------- */

.main-content .flex-container-banners > section {
    /* position: relative; */
    width: 32%;
    height: 230px;
    border-top-right-radius: 5%;
}

.main-content .flex-container-banners {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
}

.main-content .flex-container-banners .section-bnr-content  {
    background-image: url("img/small_cube_bg.png");
    padding: 0.2em 0.5em 0.6em;
    display: flex;
    flex-direction: column;
}

.main-content .flex-container-banners .section-bnr-content .bnr-head {
    font-size: 0.75em;
    font-weight: bold;
    color: grey;
    text-align: right;
    padding-right: 5px;
}

.main-content .flex-container-banners .section-bnr-content .bnr-img {
    height: 110px;
    width: auto;
    text-align: center;
}

.main-content .flex-container-banners .section-bnr-content .bnr-read-more {
    text-align: left;
    align-content: flex-end;
    justify-content: flex-end;
    padding-bottom: 0.5em;
}

.main-content .flex-container-banners .section-bnr-content .bnr-read-more a {
    text-decoration: none;
    color: gray;
    text-align: left; 
    font-size: 0.8em; 
}

.main-content .flex-container-banners .section-bnr-content .bnr-read-more a:hover   {
    text-decoration: underline;
    color: #005CA0;
    font-weight: bolder;
}


/* -------------footer--------------  */

footer  {
    width: 100%;
    height: 38px;
    position: fixed;
    bottom: 0;
    background-image: url("img/footer_bg.png");
}

.footer-content {
    max-width: 900px;
    height: 38px;
    margin: auto;
}

footer .footer-menu {
    padding-bottom: 5%;
    width: 100%;
}

.footer-menu .flex-menu   {
    display: flex;
    justify-content: space-around;
    align-items: top;
    text-align: center;
}

.footer-menu > .flex-menu li, .footer-menu > .flex-menu li a  {
    list-style-type: none;
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 0.8em;
    font-size: 0.9rem;
}

.footer-menu > .flex-menu #legal-pazomat a   {
    color:rgb(223, 49, 49);
}

.footer-menu > .flex-menu li a:hover    {
    color: #005CA0;
    text-decoration: underline;
}
